#admin{
    display: flex;
}

.AHeader{
    text-align: center;
    line-height: 50px;
    background-color: rgb(14, 164, 190);
    display: flex;
    justify-content: flex-end;
}

.CHeader{
    text-align: center;
    line-height: 50px;
    background-color: rgb(14, 164, 190);
    display: flex;
}

.AHeader button{
    width: 100px;
    height: 40px;
}
.SideMenu{
    flex-grow: 1;
    border-right: solid 1px grey;
}

#admin_body{
    flex-grow: 6;
    padding-left: 15px;
}

/************************************************/
.SideMenu ul {
    list-style: none;
}

.SideMenu ul li a{
    text-decoration: none;
    color: black;
}